<a href="https://colab.research.google.com/github/abdinegara783/ISFEST2023/blob/main/ISFEST_Abdi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/jabodetabek_house_price.csv')

In [3]:
df.head(5)

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,https://www.rumah123.com/properti/bekasi/hos11...,2.990000e+09,Rumah cantik Sumarecon Bekasi\nLingkungan asri...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Tempat Jemuran, Jalur Telepon, Taman, Taman",rumah,...,4400 mah,0,1,2.0,5.0,2017.0,bagus,NaN,0,unfurnished
1,https://www.rumah123.com/properti/bekasi/hos10...,1.270000e+09,"Rumah Kekinian, Magenta Summarecon Bekasi","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,Taman,rumah,...,2200 mah,0,0,2.0,NaN,NaN,bagus,NaN,0,NaN
2,https://www.rumah123.com/properti/bekasi/hos10...,1.950000e+09,Rumah Cantik 2 Lantai Cluster Bluebell Summare...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Masjid, Taman,...",rumah,...,2200 mah,1,1,2.0,NaN,NaN,bagus,NaN,1,unfurnished
3,https://www.rumah123.com/properti/bekasi/hos10...,3.300000e+09,Rumah Mewah 2Lantai L10x18 C di Cluster VERNON...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jalur Telepon, Jogging Track, Track Lari, K...",rumah,...,3500 mah,1,1,2.0,6.0,2016.0,bagus sekali,utara,2,unfurnished
4,https://www.rumah123.com/properti/bekasi/hos10...,4.500000e+09,"Rumah Hoek di Cluster Maple Summarecon Bekasi,...","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Taman, Jalur Te...",rumah,...,3500 mah,1,1,2.0,9.0,2013.0,bagus,utara,1,unfurnished

In [12]:
df.shape

(3553, 27)

In [15]:
def find_missing_values(df):
    missing_values = df.isnull().sum()
    return missing_values
def find_missing_values_Persentace(df):
    missing_values = df.isnull().sum()
    missing_percentages = (missing_values / len(df)) * 100
    return missing_percentages
def separate_numeric_categorical_columns(df):
    numeric_columns = df.select_dtypes(include=np.number).columns.tolist()
    categorical_columns = df.select_dtypes(exclude=np.number).columns.tolist()
    return numeric_columns, categorical_columns

In [14]:
missing_values = find_missing_values(df)
print(missing_values)

url                        0
price_in_rp                0
title                      0
address                    0
district                   0
city                       0
lat                        0
long                       0
facilities                 0
property_type              1
ads_id                     4
bedrooms                  34
bathrooms                 29
land_size_m2               2
building_size_m2           2
carports                   0
certificate              141
electricity                0
maid_bedrooms              0
maid_bathrooms             0
floors                     6
building_age            1445
year_built              1445
property_condition       246
building_orientation    1647
garages                    0
furnishing               387
dtype: int64

In [11]:
persentace=find_missing_values_Persentace(df)
print(persentace)

url                      0.000000
price_in_rp              0.000000
title                    0.000000
address                  0.000000
district                 0.000000
city                     0.000000
lat                      0.000000
long                     0.000000
facilities               0.000000
property_type            0.028145
ads_id                   0.112581
bedrooms                 0.956938
bathrooms                0.816212
land_size_m2             0.056290
building_size_m2         0.056290
carports                 0.000000
certificate              3.968477
electricity              0.000000
maid_bedrooms            0.000000
maid_bathrooms           0.000000
floors                   0.168871
building_age            40.669856
year_built              40.669856
property_condition       6.923726
building_orientation    46.355193
garages                  0.000000
furnishing              10.892204
dtype: float64

In [16]:
numeric_cols, categorical_cols = separate_numeric_categorical_columns(df)

print("Numeric Columns:")
print(numeric_cols)

print("\nCategorical Columns:")
print(categorical_cols)

Numeric Columns:
['price_in_rp', 'lat', 'long', 'bedrooms', 'bathrooms', 'land_size_m2', 'building_size_m2', 'carports', 'maid_bedrooms', 'maid_bathrooms', 'floors', 'building_age', 'year_built', 'garages']

Categorical Columns:
['url', 'title', 'address', 'district', 'city', 'facilities', 'property_type', 'ads_id', 'certificate', 'electricity', 'property_condition', 'building_orientation', 'furnishing']

## Memisahkan kolom numerik dan kolom Non_Numerik

In [18]:
df_num=df[numeric_cols]

In [19]:
df_col=df[categorical_cols]